---
import figtreeWoff2 from '@fontsource-variable/figtree/files/figtree-latin-wght-normal.woff2?url';
import siteConfig from '../data/site-config';
import '../styles/global.css';

export type Props = {
    title?: string;
    description?: string;
};

const { description = '' } = Astro.props;
const title = [Astro.props.title, siteConfig.title].filter(Boolean).join(' | ');

const canonicalURL = new URL(Astro.request.url, Astro.site);

/**
 * Enforce some standard canonical URL formatting across the site.
 */
function formatCanonicalURL(url: string | URL) {
    const path = url.toString();
    const hasQueryParams = path.includes('?');
    // If there are query params, make sure the URL has no trailing slash
    if (hasQueryParams) {
        path.replace(/\/?$/, '');
    }
    // otherwise, canonical URL always has a trailing slash
    return path.replace(/\/?$/, hasQueryParams ? '' : '/');
}
---

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />

<!-- Fonts -->
<link rel="preload" as="font" type="font/woff2" href={figtreeWoff2} crossorigin="anonymous" />

<!-- Low Priority Global Metadata -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

<!-- Page Metadata -->
<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
<meta name="description" content={description} />
